<div class="list-container">
  <h2>Liste des départements</h2>
  <button class="add-btn" (click)="addDepartment()">Ajouter Département</button>
  
  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dep of departments">
        <td>{{ dep.name }}</td>
        <td>{{ dep.description }}</td>
        <td>
          <button (click)="editDepartment(dep.id)">Modifier</button>
          <button (click)="deleteDepartment(dep.id)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>